img {
  width: 100%;
  height: auto;
}

.result-page-container {
  margin: 4px 10px;
  padding: 2px 0 50px;
  border-bottom: 1px solid black;
  text-align: center;
}

.image-container {
  box-shadow: 5px 5px 5px grey;
}

@import "../../mediaqueries.scss";
