$fontStyle: "KoHo", sans-serif;
$padding: 30px;
$useFlex: flex;
$backgroundImage: url("/dog-3.jpg");
$backgroundColorOpacity: rgba(250, 250, 250, 0.6);

.search-page-wrapper {
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.search-container {
  width: 100%;
  height: 120vh;
  display: $useFlex;
  flex-direction: column;
  background-color: $backgroundColorOpacity;
  font-family: $fontStyle;
  text-align: center;
}

h1 {
  font-family: $fontStyle;
  margin-bottom: 15px;
}

h3 {
  margin: 0;
  font-size: 20px;
}

.search-container-sex,
.search-container-size,
.search-container-age,
.search-container-catOk {
  padding: $padding;
  font-size: 15px;

  input {
    margin-left: 20px;
  }
  label {
    margin-left: 10px;
  }
}

input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.submit-button {
  margin: 20px auto 0;
  position: relative;
  width: 170px;
  display: flex;
  justify-content: center;
}
.submit-button input {
  -webkit-appearance: none;
  padding: 20px 80px;
  background-color: #2e2d2b;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
}
.submit-button #paw-print {
  width: 30px;
  position: absolute;
  top: 20%;
  right: 90%;
}

.back-button {
}
.matches-container {
  background-color: #fbf4ed;
}

@import "../../mediaqueries.scss";
