@import url('https://fonts.googleapis.com/css?family=Roboto');
$fontStyle: 'Roboto', sans-serif;
$paddingTen: 20px;
$useFlex: flex;

body {
  background-color: #E3D0D8;
}

.search-container {
  width: auto;
  height: 100vh;
  display: $useFlex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 20px;
  font-family: $fontStyle;
}

.search-container-sex,
.search-container-size,
.search-container-age,
.search-container-catOk,
.search-container-dogOk  {
  background-color: pink;
  padding: $paddingTen;

  input{
    margin-left: 30px;
  }
  label {
    margin-left: 20px;
  }
}

.submit-button{
  position: relative;
  text-align: center;
}
.submit-button input {
  padding: 12px 50px;
  background-color: grey;
  font-size: 15px;
  cursor: pointer;
}
.submit-button img{
  width: 32px;
  position: absolute;
  top: 10%;
  left: 30%;
}
