$fontStyle: 'KoHo', sans-serif;

@media (min-width: 900px) {

  .search-container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }
  .result-page-wrapper {
    width: 70%;
    padding: 0px 10px;
  }
  .submit-button {
    margin-top: 40px;
  }
  .result-page-container img {
    width: 30%;
  }
  .hamburger-label {
    display:none;
  }
  .navbar-list {
    left:0;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 20px;
    padding: 60px;
  }
  li {
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .search-container {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
  }
  .submit-button img{
    left: 10%;
  }
}
