$fontStyle: "KoHo", sans-serif;

@media (min-width: 900px) {
  .hamburger-container {
    display: flex;
    justify-content: center;
  }
  .search-container,
  .login-container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
  }
  .result-page-wrapper {
    width: 100%;
    padding: 0px 10px;
  }
  .submit-button {
    margin-top: 40px;
  }
  img {
    width: 30%;
  }
  .hamburger-label {
    display: none;
  }

  ul {
    left: 0;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: auto;
    padding: 0 20px;
    width: 100%;
  }
  li {
    margin: auto;
    border: none;
  }

  .detailed-info-wrapper p {
    padding: 2px 200px;
    font-size: 20px;
  }

  .detailed-info-wrapper h3 {
    font-size: 30px;
  }
}

//
// @media (min-width: 600px) and (max-width: 1200px) {
//   .search-container {
//     width: 60%;
//     height: auto;
//     margin: 0 auto;
//     border-radius: 20px;
//   }
//   .submit-button img{
//     left: 10%;
//   }
// }
