* {
  box-sizing: border-box;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: black;
  padding: 2px 6px 2px;
  border-width: 2px;
  border-color: transparent;
  margin-top: 2px;
}
